html,body{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-weight: 400;
    color: #fff;
    background: #0c171e;
  }
  .ant-layout{
    // reset
    .menuitem{
      button, 
      .ant-avatar{
        >i,
        .anticon{
          margin-right: 0;
        }
      }
    }
    .ant-layout-sider{
      background-color: #131c25;
      .ant-layout-sider-children{
        .logo{
          width: 100%;
          height: 100px;
          // background: #555;
          .logo-text {
            color: #fff;
            padding: 5px 15px;
            border: 2px solid;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 26px;
            height: max-content;
            display: block;
            margin: 15px auto;
            box-sizing: border-box;
          }
        }
        >.ant-menu{
          max-height: calc(100vh - 100px);
          height: 100%;
          overflow: auto;
          background-color: #131c25;
          .ant-menu-item, .ant-menu-submenu{
            background-color: transparent;
            height: 32px;
            line-height: 32px;
            .anticon + span{
              font-weight: 700;
              text-transform: uppercase;
            }
            svg{
              width: 14px;
              height: 14px;
            }
            &.ant-menu-item-selected{
              color: #10d5ff;
              // box-shadow: -2px 0px 0px 0px rgba(0, 114, 255, 0), inset 2px 0px 0px 0px #0072ff;
              &::before{
                content: '';
                width: 2px;
                height: 26px;
                background: #10d5ff;
                left: 0;
                position: absolute;
                top: calc(50% - 13px);
              }
            }
          }
          &.ant-menu-inline-collapsed > .ant-menu-item .anticon{
            line-height: 32px;
          }
        }
      }
      .ant-layout-sider-trigger {
        height: 45px;
        line-height: 45px;
        background: #131c25;
      }
    }
    .ant-layout-header {
      background: transparent;
      padding: 0 30px;
      line-height: 45px;
      height: auto;
      position: fixed;
      width: calc(100% - 260px);
      transition: all .2s;
      z-index: 99;
      box-shadow: inset 0px 65px 65px -35px rgb(19, 28, 37);
      .navbar {
        padding: 0;
      }
      .ant-menu-dark.ant-menu-horizontal{
        background-color: transparent;
      }
      .btnmenu{
        padding: 0 15px;
        background: transparent;
        i{
          margin: 0;
          font-size: 18px;
        }
      }
      .user {
        display: inline-block;
        line-height: 22px;
        vertical-align: middle;
        margin-left: 15px;
        .ant-avatar{
          .anticon{
            margin-right: 0;
          }
        }
        .username{
          display: block;
          line-height: 10px;
          margin-top: 9px;
          font-size: 14px;
          text-transform: capitalize;
          letter-spacing: 0.2px;
          font-weight: 700;
          color: white;
        }
        .userinfo{
          font-size: 12px;
        }
      }
      .actions{
        line-height: 70px;
        button{
          background-color: transparent;
          border: 0;
          color: white;
          i{
            font-size: 16px;
            line-height: 32px;
          }
        }
      }
      .ant-menu.ant-menu-dark .ant-menu-item-selected{
        background-color: transparent!important;
      }
    }
    &.collapsed{
      .ant-layout-header {
        width: calc(100% - 80px);
      }
    }
    .ant-layout-content{
      background-color: #0c171e;
      .container-fluid {
        min-height: calc(100vh - 70px);
        margin-top: 70px;
        padding: 0 20px;
        &.content-scrolled{
          max-height: calc(100vh - 70px);
          overflow: auto;
        }
      }
    }
  }
  .ant-drawer-content-wrapper{
    .ant-drawer-content{
      background-color: #1d1e21;
      .ant-drawer-wrapper-body{
        .ant-drawer-header{
          padding: 18px 10px;
          border-radius: 0;
          background: #000000;
          border-bottom: 1px solid #0f171e;
          .ant-drawer-title{
            font-weight: 700;
            color: rgb(226, 226, 226);
          }
        }
        .ant-drawer-body{
          padding: 10px;
        }
      }
    }
    .ant-drawer-close{
      padding: 18px 0px;
      .ant-drawer-close-x{
        color: white;
        height: auto;
        line-height: 22px;
        width: 45px;
      }
    }
  }
  
  // slider
  .swiper-slide{
    .cardslider {
      background: transparent;
      border: none;
      box-shadow: none;
      &.ant-card-hoverable:hover {
        box-shadow: 0px 0px 20px 0px #000;
        background: #182027;
        .ant-card-cover {
          box-shadow: none;
        }
        .ant-card-body{
          .info,.infoplus{
            transform: translate3d(0, 0, 0);
            opacity: 1;
            height: auto;
            max-height: 100px;
            transition: max-height .35s;
          }
        }
      }
      .ant-card-cover {
        position: relative;
        height: calc(100% - 45px);
        overflow: hidden;
        cursor: grab;
        box-shadow: 0px 0px 20px 0px #000;
        img {
          width: calc(100% + 0px);
          height: calc(100% - 0px);
        }
      }
      .ant-card-body{
        padding: 0px;
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
        .sliderinfo{
          .title{
            margin-top: 15px;
            h5{
              font-size: 15px;
              font-weight: 600;
              line-height: 18px;
              margin-bottom: 5px;
              color: white;
            }
          }
          h6{
             margin: 5px 0; 
          }
        }
        .info,.infoplus{
          margin: 0 -5px;
          transform: translate3d(0, 20%, 0);
          opacity: 0;
          transition: all 0.25s, opacity 0.25s, max-height 0.45s;
          max-height: 0px;
          .cat{
            font-size: 13px;
            line-height: 13px;
            font-weight: 400;
          }
        }
        .badge{
          border-radius: 0;
          text-transform: uppercase;
          padding: 5px;
          font-weight: 600;
          background: black;
          color: #5f5f5f;
          &.badge-primary{
            color: white;
            background-color: #10d5ff;
          }
        }
      }
      .ant-card-actions{
        margin: 0 -7px;
        margin-bottom: -7px;
        border: none;
        background: #131c25;
        position: relative;
        z-index: 2;
        >li{
          color: white;
          border-right-color: #22282d;
        }
      }
    }
  }

  .swiper-container{
    .swiper-slide{
      // transition: width .3s;
    }
    .swiper-pagination{
        position: absolute;
        left: 50%!important;
        z-index: 2;
        bottom: 15px!important;
        border-radius: 15px;
        padding: 5px;
        width: auto!important;
        background-color: rgba(0, 0, 0, 0.75);
        transform: translateX(-50%);
        text-align: center;
        .swiper-pagination-bullet {
            position: relative;
            display: block;
            opacity: 1 !important;
            float: left;
            margin: 3px !important;
            width: 8px;
            height: 8px;
            border-radius: 50% !important;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
            transition: box-shadow 0.3s ease;
            background: #fff;
            &:before {
                content: '';
                top: 0px;
                left: 0px;
                width: calc(100%);
                height: calc(100%);
                outline: none;
                background-color: #fff;
                text-indent: -999em;
                border-radius: 50% !important;
                cursor: pointer;
                position: absolute;
            }
            &.swiper-pagination-bullet-active:before {
                transform: scale(0.6);
                background-color: #000;
            }
        }
    }
    nav{
        a{
            position: absolute;
            top: 50%;
            display: block;
            outline: none;
            text-align: left;
            z-index: 1000;
            transform: translateY(-50%);
            background-color: rgb(19, 28, 37);
            transition: all 0.15s ease;
            padding: 20px 10px;
            color: white;
            box-shadow: 0px 0px 20px 0px #000;
            &:hover{
                background-color: rgb(19, 28, 37);
                padding: 20px 20px; 
            }
            &.prev{
                left: 0;
            }
            &.next{
                right: 0;
            }
            &.swiper-button-disabled{
                opacity: 0.2;
                cursor: no-drop;
            }
        }
    }
  }

  // reset
  // video
  .videoplayer{
    margin: -70px -20px 0 -20px;
    position: relative;
    height: calc(100vh - 0px);
    overflow: hidden;
    .plyr{
      max-height: 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      // bottom: 0;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background: #0c171e;
      .plyr__video-wrapper {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        .plyr__poster {
          background-size: cover;
        }
      }
    }
    video{
      height: 100%;
      width: 100%;
    }
    #progress-bar{
      position: relative;
      top: -137px;
      width: 100%;
      background: #333;
    }
    #progress-bar-buffer{
      position: relative;
      top: -157px;
      width: 100%;
      background: rgb(207, 20, 20);
    }
    .dplayer{
      height: 100%;
    }
  }
  :root {
    --mouse-x-progress: 0%;
  }
  // player
  .video_player_wpr{
    height: 100%;
    >video,
      >.player-controller-wrp,
      >.mask {
      transition: .4s transform;
    }
    >video {
      z-index: 2;
      transition: .5s transform;
    }
    &.open-extras {
      >video {
        transform: translateY(calc(-50vh + 200px));
      }
      >.player-controller-wrp {
        transform: translateY(calc(-50vh + 1px));
      }
      >.mask {
        transform: translateY(calc(-50vh + 200px));
      }
    }
    .ant-btn {
      border: none;
      >i {
        font-size: 21px;
        line-height: 0;
      }
    }
    .player-controller-wrp {
      position: absolute;
      margin: 0px;
      z-index: 11;
      width: calc(100% - 0px);
      bottom: 0;
      box-shadow: inset 0px -45px 50px -40px black;
      &.playing {
        >.player-controller{
          animation-name: slideOutDown;
        }
      }
      &:not(.playing) {
        >.player-controller{
          animation-name: slideInUp;
        }
      }
      &.move {
        >.player-controller {
          animation-name: slideInUp!important;
        }
      }
      &:hover {
        >.player-controller {    
          animation-name: slideInUp;
        }
      }
      .player-controller {
        position: relative;
        margin: 0px;
        width: calc(100% - 0px);
        .ply-progress{
          // height: 16px;
          margin: 8px 0;
          margin-top: 0;
          
          .ant-slider {
            margin: 0;
            padding: 0;
            z-index: 2;
            // height: 8px;
            .ant-slider-rail {
              background-color: rgba(245, 245, 245, 0.2) !important;
            }
            .ant-slider-track {
              background-color: #00aaff !important;
            }
            .ant-slider-handle {
              border-color: #00aaff !important;
            }
            /* &:hover .ant-slider-rail {
              background-color: rgba(245, 245, 245, 0.5) !important;
            } */
          }
          .buffered {
            position: absolute;
            top: 0;
            background-color: #0064ffbd;
            height: 4px;
            width: 0px;
            border-radius: 10px;
            z-index: 1;
          }
          .onload{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 0;
            animation-duration: 0.2s;
            position: absolute;
            top: 0;
            height: 4px;
            border-radius: 10px;
            opacity: 0;
          }
          .tooltipprogress{
            position: absolute;
            top: -4px;
            background-color: rgba(0, 0, 0, 0);
            height: 12px;
            width: 100%;
            border-radius: 10px;
            z-index: 1;
            &:hover .tooltip-content,
            .tooltip-content.hover {
              opacity: 1;
              z-index: 99999;
              transition-delay: 0s;
            }
            &:hover .tooltip-content .tooltip-text,
            .tooltip-content.hover .tooltip-text {
              transition-delay: 0s;
              -webkit-transform: scale3d(1,1,1);
              transform: scale3d(1,1,1);
            }
            &:hover .tooltip-content .tooltip-text .tooltip-inner,
            .tooltip-content.hover .tooltip-text .tooltip-inner {
              transition-delay: .3s;
              -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
            }
            .tooltip-content {
              position: absolute;
              z-index: 9999;
              width: 160px;
              left: var(--mouse-x-progress); 
              // left: 50%;
              bottom: 5px;
              font-size: 20px;
              line-height: 1.4;
              text-align: center;
              font-weight: 400;
              color: #fffaf0;
              background: 0 0;
              opacity: 0;
              margin: 0 0 10px -80px;
              cursor: default;
              pointer-events: none;
              transition: opacity .3s .3s;
              &::after {
                content: '';
                bottom: -10px;
                left: 50%;
                border: 5px solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: #fff transparent transparent;
                margin-left: -5px;
              }
              span {
                display: block;
              }
              .tooltip-text {
                border-bottom: 2px solid #fffaf0;
                overflow: hidden;
                transform: scale3d(0,1,1);
                transition: transform .3s .3s;
                .tooltip-inner {
                  background: #000;
                  padding: 0;
                  border-radius: 0;
                  max-width: inherit;
                  transform: translate3d(0,100%,0);
                  transition: transform .3s;
                  img, 
                  span.img-thumb {
                    opacity: .65;
                    height: 85px;
                    bottom: 0;
                    background-position-x: 0;
                    background-origin: initial;
                    background-position-y: center;
                    // background-size: auto 100%;
                    background-size: 16000px 100%;
                    background-repeat: no-repeat;
                  }
                  .tooltip-title {
                    background: white;
                    color: black;
                    padding: 0 5px;
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
        .ply-controles {
          .ply-volume {
            >.ant-slider{
              visibility: hidden;
              width: 0px;
              opacity: 0;
              transition: width 0.4s ,visibility 0.4s,opacity 0.4s;
            }
            &:hover {
              >.ant-slider{
                visibility: visible;
                opacity: 1;
                width: 100px;
              }
            }
            .btn-volume {
              >i {
                width: 32px;
              }
            }
          }
          .duration {
            font-size: 14px;
            font-family: sans-serif;
          } 
        }
      }  
    }
    .mask{
      position: absolute;
      z-index: 10;
      &:not(.paused) {
        >.animated{
          animation-name: fadeOut;
        }
      }
      &.move {
        >.animated {
          animation-name: fadeIn!important;
        }
      }
      &.paused:hover:not(.paused) {
        >.animated {
          animation-name: fadeIn!important;
        }
      }
      
      .overflow {
        display: block;
        cursor: none!important;
        z-index: 11;
        top: 0;
        left: 0;
      }
      &.move> .overflow {
        display: none;
      }
      >div {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.4s, opacity 0.4s;
        background: rgba(0, 0, 0, 0.45);
        .toggleslider {
          position: absolute;
          right: 0;
          text-align: center;
          z-index: 3;
          top: auto;
          bottom: 15px;
          transition: all 0.3s;
          .action {
            height: auto;
            background: #131c25;
            border: none;
            padding: 10px;
            cursor: pointer;
            &:hover, &:focus {
              border: none;
              outline: 0;
            }
            svg.icon {
              width: 16px;
              height: 16px;
              transition: 0.3s transform;
            }
          }
        }
      }
      &:hover > div {
        visibility: visible;
        opacity: 0.9;
      }
      .ant-btn{
        background-color: #00aeff!important;
        width: 55px;
        height: 55px;
        >i {
          font-size: 22px;
          color: white;
        }
      }
    }
    video {
      position: relative;
      width: 100%;
      height: 100%;
      // transform: translateY(calc(-100% + 250px));
      transition: transform 0.4s;
      object-fit: contain;
      background: black;
    }
    .extras {
      position: absolute;
      bottom: 0;
      opacity: 1;
      transform: translateY(100%);
      transition: transform 0.4s, opacity 1.4s;
      height: calc(50vh);
      max-height: calc(50vh);
      z-index: 12;
      background: #131c25;
      overflow: hidden;
      &.open {
        opacity: 1;
        transform: translateY(0%);
      }
      .extras-header {
        background: #0d1217;
        border-bottom: 1px solid #0c1015;
      }
      .extras-cont {
        overflow: auto;
        height: auto;
        max-height: calc(50vh - 50px);
        position: relative;
        .slider-wrp{
          .swiper-container {
            transition: 0.3s transform;
          }
          &.hided > .swiper-container{
            transform: translateY(calc(100% + 75px));
          }
        }
        .ant-card {
          border: none;
          border-radius: 0;
          .ant-card-cover img {
            border-radius: 0;
          }
        }
      }
    }
  }

  svg.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
  }


  // reset ant
  .ant-checkbox-wrapper,.ant-form,.ant-form-item{
    color: #fff;
  }
  .ant-btn[disabled] > i{
    color: rgba(255, 255, 255, 0.5)
  }
  /*change scroll css*/
  :root {
    --scroll-bar-size: 10px;
    /**
  * Background color for custom scroll bars.
  * The color is applied to the thumb part of the scrollbar.
  */
    --scroll-bar-thumb-background-color: rgba(255, 255, 255, 0.2);
    /**
  * Background color for custom scroll bars in their active state.
  * The color is applied to the thumb part of the scrollbar.
  */
    --scroll-bar-thumb-background-color-active: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-scrollbar {
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
    background: transparent;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-background-color);
    border-radius: var(--scroll-bar-size);
    border-color: transparent;
    border-style: solid;
    border-width: calc(var(--scroll-bar-size)/3);
    background-clip: padding-box;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: var(--scroll-bar-thumb-background-color-active);
  }
  
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    border-width: 1px;
    background-color: var(--scroll-bar-thumb-background-color-active);
    cursor: pointer;
  }